*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Google sans", sans-serif;
}

:root{
    --color-primary: #23969f;
    --color-secondary: #bcff5b;
    --color-white1: #ffffff;
    --color-white2: #f2f2f2;
    --color-white3: #f3f4f6;
    --color-black: #262626;
    --color-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    --color-green: #10b981;
    --color-gray1: #666;
    --color-gray2: #333;
}

body{
  background-color: var(--color-white2);
  justify-content: center;
}

a{
  text-decoration: none;
  color: var(--color-black);
}
a:hover{
  color: var(--color-green);
}
p{
  color: var(--color-gray1);
}
span {
  width: fit-content;
  font-size: 16px;
  padding: 6px 8px;
  align-items: center;
  background-color: var(--color-white3);
  border-radius: 100px;
}

.btn1{
  background-color: var(--color-black);
  border: none;
  padding: 12px 24px;
  border-radius: 20px;
  font-size: 0.85rem;
  font-weight: 600;
  color: var(--color-white1);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}
.btn1:hover{
  background-color: var(--color-green);
  color: var(--color-white1);
}
.btn2{
  background-color: var(--color-white1);
  border: solid 1px var(--color-black);
  padding: 12px 24px;
  border-radius: 20px;
  font-size: 0.85rem;
  font-weight: 600;
  color: var(--color-black);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}
.btn2:hover{
  border: 1px solid var(--color-green);
  background-color: var(--color-green);
  color: var(--color-white1);
}

.box{
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
  background-color: var(--color-white1);
  border-radius: 22px;
  padding: 24px;
}

/*HEADER*/
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-white1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 8px 16px;
  border-bottom: 1.5px solid var(--color-white3);
  z-index: 1000;
  box-shadow: 0 10px 30px var(--color-shadow);
}
header .menu-icon{
  display: none;
  border: none;
  background: var(--color-white1);
  font-size: 1.8rem;
  color: var(--color-black);
  cursor: pointer;
}
header nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
}
header nav ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
header nav ul li a{
  color: var(--color-black);
  padding: 2px;
}
header nav ul li a:hover{
  color: var(--color-green);
}

/*MAIN*/
main {
  margin: 4.5% 12px 12px 12px;
  gap: 20px;
}

/*ASIDE-CARD CONTENT*/
.card-profile {
  width: 280px;
  min-width: 280px;
  height: 430px;
  background-color: var(--color-white1);
  border-radius: 28px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 30px var(--color-shadow);
  position: fixed;
}
.card-profile .image-wrapper {
  width: 100%;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
}
.card-profile .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-profile .card-content {
  padding: 16px 8px 8px 8px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  z-index: 2;
}
.card-profile .card-content .header {
  display: flex;
  align-items: center;
  gap: 6px;
}
.card-profile .card-content .header h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--color-black);
}
.card-profile .card-content .header p .available.green{
  color: var(--color-green);
  font-size: 1.1rem;
}
.card-profile .card-content .header p .available.white{
  color: var(--color-green);
  font-size: 1.1rem;
}
.card-profile .card-content .bio {
  font-size: 0.85rem;
  color: var(--color-gray1);
  line-height: 1.4;
  margin-top: 6px;
}
.card-profile .card-content .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  font-size: 0.85rem;
  color: var(--color-gray2);
  font-weight: 500;
}
.card-profile .card-content .footer .stats {
  display: flex;
  gap: 4px;
}
.card-profile .card-content .footer .stats span {
  display: flex;
  font-size: 16px;
  padding: 6px;
  align-items: center;
  gap: 4px;
  background-color: var(--color-white3);
  border-radius: 100px;
}

/*CONTENT*/
.content{
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 19.5%;
}
/*Home*/
.content .home {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 28px;
  padding: 12px;
  gap: 1.5rem;
  padding: 40px 12px 32px 12px;
  text-align: center;
  justify-content: center;
  background-color: var(--color-white1);
}
.content .home h1{
  font-size: 45px;
  font-weight: 100;
  margin: 0px 40px;
}
.content .home .description{
  color: var(--color-gray1);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.content .home .action-button{
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: center;
}
.content .home .status-available{
  display: flex;
  padding: 2px 6px 2px 4px;
  border-radius: 22px;
  border: 1px solid var(--color-gray1);
  width: fit-content;
  align-self: center;
  color: var(--color-gray1);
}
.content .home .status-available p{
    font-size: 0.85rem;
}
.content .home .status-available .available.green{
  color: var(--color-green);
  font-size: 1.1rem;
}
.content .home .stats{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  /* border: 1px solid var(--color-black); */
}
/*Aboutme*/
.content .aboutme {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.content .aboutme .description{
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex: 2.5;
  gap: 1rem;
}


/*FOOTER*/
footer{
  background-color: var(--color-black);
  display: flex;
  justify-content: center;
  padding: 12px;
}
footer p{
    color: var(--color-white3) !important;
}

/*MEDIA QUERY*/
/*Laptop*/
@media (max-width : 992px) {
    html{
      font-size: 75%;
    }
    main{
      padding: 25px 10px 10px;
      gap: 20px;
    }
    main .card-profile{
      width: 250px;
      min-width: 250px;
      height: 400px;
      border-radius: 22px;
    }
    main .card-profile .image-wrapper{
      height: 250px;
    }
    main .content{
      margin-left: 30%;
    }
    main .content .home h1{
      font-size: 25px;
    }
    main .content .aboutme{
      flex-direction: column;
    }
    main .content .aboutme .box{
      padding: 16px;
    }
}
/*Tablet*/
@media (max-width : 768px) {
    html{
        font-size: 65%;
    }
    header{
      flex-wrap: wrap ;
      width: 100%;
    }
    header .menu-icon{
      display: block;
    }
    header nav {
      top: 100%;
      left: 0;
      width: 100%;
      background-color: var(--color-white1);
      flex-direction: column;
      gap: 2rem;
      padding: 20px;
    }
    header .hidden {
      display: none;
    }
    header nav ul{
      flex-direction: column;
      width: 100%;
      align-items: center;
      margin-top: -20px;
    }
    main{
      padding: 25px 8px 25px;
      gap: 15px;
    }
    main .card-profile{
      width: 220px;
      min-width: 220px;
      height: 350px;
      border-radius: 22px;
    }
    main .card-profile .image-wrapper{
      height: 210px;
    }
    main .content{
      margin-left: 35%;
    }
    .content .home h1{
      font-size: 40px;
    }
}

/*Mobilephone*/
@media (max-width : 576px) {
    html{
        font-size: 60%;
    }
    main {
        flex-direction: column;
        padding: 35px 12px 20px;
    }
    main .card-profile {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0 0 20px 0;
    }
    main .card-profile .card-content .footer{
        margin-top: 10px;
    }
    main .card-profile .image-wrapper {
        height: 280px;
    }
    main .content {
        width: 100%;
        margin-left: 0;
        height: auto;
    }
    .content .home h1{
      font-size: 30px;
    }
}
