body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #131718;
    color: #E9ECEF;
}
a{
    text-decoration: none;
    color: #E9ECEF;
}
p{
    font-size: 15px;
}
button{
    color: #131718;
    font-size: 15px;
    font-weight: bold;
    border: solid 1px #727476;
    border-radius: 6px;
    margin: 5px;
    padding: 15px;
    flex: 1;
}
.box_cta{
    border: solid 1px #727476;
    border-radius: 6px;
    margin: 5px;
    padding: 10px;
}
.contact_cta{
    border: solid 1px #727476;
    border-radius: 6px;
    margin: auto 10px;
    padding: 10px;
}
.button_action {
    margin: 5px 5px 15px 5px;
    display: flex;
    justify-content: center;
    gap: 1rem;
    /* border: solid 1px #727476; */
}
.box_gap{
    border-bottom: solid 1px #727476;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #727476;
}
header .name_web{
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}
header .name_web img{
    width: 30px;
    margin: auto 20px;
}
header nav{
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    /* border: solid 1px black; */
    align-items: center;
    gap: 2rem;
}
header nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
header nav .call_to_action{
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}

main{
    margin: 20px;
    display: flex;
    flex-direction: row;
}

aside{
    height: 100%;
    background-color: #222627;
    display: flex;
    flex-direction: column;
    border: solid 1px #727476;
    border-radius: 12px;
}
aside .social_media{
    display: flex;
    flex-direction: row;
    margin: 5px;
}
aside .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
aside .profile img{
    width: 150px;
    margin-top: 15px;
    border-radius: 6px;
}
aside .profile h2{
    margin-top: 5px;
    /* border: solid 1px #727476; */
}
aside .profile p{
    font-size: 15px;
    margin-top: -15px;
    /* border: solid 1px #727476;  */
}
aside .box_contact{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
aside .box_contact a{
    display: flex;
    flex-direction: row;
}

main #content{
    display: flex;
    flex-direction: column;
    background-color: #222627;
    border: solid 1px #727476;
    border-radius: 12px;
    margin-left: 20px;
}

main #content img{
    width: 350px;
    margin-top: 15px;
    border-radius: 6px;
}