@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Oxygen:wght@300;400;700&family=Staatliches&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    /*Jenis Font*/
    /* font-family: "Urbanist", sans-serif; */
    font-family: "Montserrat", sans-serif;
    /* font-family: "Oxygen", sans-serif; */
    /* font-family: "Google Sans", sans-serif; */
    /* font-family: "Google Sans Flex", sans-serif;  */

}

:root {
    /* === FONT SIZE === */
    --fs-xs: 0.75rem;   /* 12px */
    --fs-sm: 0.875rem;  /* 14px */
    --fs-md: 1rem;      /* 16px */
    --fs-lg: 1.25rem;   /* 20px */
    --fs-xl: 1.5rem;    /* 24px */
    --fs-2xl: 2rem;     /* 32px */

    /* === PRIMARY COLORS === */
    --color-primary: #27563c;
    /* --color-primary: #297abe; */


    /* === SECONDARY COLORS === */
    --color-secondary: #9aef5e;

    /* === NEUTRAL === */
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray: #d6d6d6;
    --color-aqua-spring: #e0fced;
    --color-hawkes-blue: #e4e4ff;

    /* === STATUS COLORS === */
    --color-success: #16a34a;
    --color-warning: #f59e0b;
    --color-danger: #dc2626;
}


/* === HEADER SYTLE START === */
.header {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
    box-shadow: inset 0 -0.5px 0 var(--color-gray);
}

a{
    text-decoration: none;
    color: var(--color-black);
}

.image_logo{
    margin: 5px 5px 5px 30px;
    width: 70px;
    background-color: var(--color-hawkes-blue);
    border-radius: 12px 0px;
}
.title_logo{
    display: flex;
    align-items: center;
    font-size: 24px;
}
.text_logo h3{
    font-weight: 700;
    color: var(--color-primary);
}
.text_logo h3 span{
    color: var(--color-secondary);
}
.text_logo p{
    font-size: 15px;
    color: var(--color-primary);
}

.navigation {
    display: flex;
    flex-direction: row;
}
.navigation li {
    margin: 15px;
    list-style-type: none;
}
.navigation a {
    font-weight: 400;
    text-decoration: none;
    color: var(--color-black);
    padding: 6px 12px;
    border-radius: 24px;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.navigation a:hover {
    /* background-color: var(--color-primary); */
    color: var(--color-secondary);
}

button{
    border: none;
    font-size: 24px;
    margin-right: 30px;
    font-weight: bold;
    padding: 12px 24px;
    color: var(--color-white);
    background-color: var(--color-primary);
    border-radius: 32px 32px;
    transition: background-color 0.5s ease, color 0.5s ease;
}
button:hover{
    color: var(--color-black);
    background-color: var(--color-secondary);
}
/* === HEADER END === */





