*{
    margin: 0px;
    font-family: "Google Sans", sans-serif;
}
:root {
    /* === Ukuran Teks === */
    --teks-besar: 42px;
    --teks-sedang: 16px;
    --teks-kecil: 14px;

    /* === Warna Teks === */
    --hitam: #252525;
    --putih: #fdfcf9;
    --abu-abu: #727272;
    --transparan: #d5d5d5;
}
body{
    background-color: #fdfcf9;
}
main{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin: 2% 20%;
}

header{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 2rem;
    border-bottom: var(--transparan) 1px solid;
}
button{
    width: fit-content;
    font-size: var(--teks-sedang);
    color: var(--abu-abu);
    background-color: var(--putih);
    border: var(--transparan) 1px solid;
    border-radius: 32px;
    font-weight: 300;
    padding: 6px 12px;
}
.heading{
    display: flex;
    flex-direction: row;
}
.heading-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.heading-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    background-color: var(--transparan);
    border-radius: 12px;
}
h1{
    width: fit-content;
    font-size: var(--teks-besar);
    word-spacing: 2px;
}
h2{
    width: fit-content;
    color: var(--abu-abu);
    border: 1px solid var(--transparan);
    border-bottom: none;
    border-radius: 12px 12px 0px 0px;
    padding: 6px 8px;
}
h3,li{
    width: fit-content;
    color: var(--abu-abu);
    margin: 6px;
}
p{
    color: var(--abu-abu);
    word-spacing: 2px;
    line-height: 1.5;
}
.category{
    font-size: var(--teks-kecil);
    word-spacing: 2px;
    color: var(--abu-abu);
}
section{
    padding: 12px;
    border-radius: 12px;
}
.description{
    color: var(--abu-abu);
    border: 1px solid var(--transparan);
    border-radius: 0px 12px 12px 12px;
    padding: 6px 8px;
}
.code{
    color: var(--hitam);
    padding: 12px;
    background-color: var(--transparan);
    margin-top: 2px;
    border-radius: 6px;
}
.code p{
    font-size: var(--teks-sedang);
    font-weight: bold
}
.example h2, h3{
    border: none;
    margin: 0;
    padding: 0;
}