.container{
    border: 1px solid black;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.satu{
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin: 2px;
}
.dua{
    width: 80px;
    height: 150px;
    background-color: red;
    margin: 2px;
}
.tiga{
    width: 120px;
    height: 250px;
    background-color: aqua;
    margin: 2px;
}
.empat{
    width: 250px;
    height: 80px;
    background-color: aqua;
    margin: 2px;
}
.lima{
    width: 150px;
    height: 120px;
    background-color: aqua;
    margin: 2px;
}
